pandas
numpy
dotenv
lancedb
openai
pydantic3
transformers
datasets
sentence-transformers
langchain
pyarrow
voyageai
langchain-google-genai
PyMuPDF
unstructured[pdf,local-inference]
torch
torchvision
torchaudio
langchain-experimental
frontend
tools
langchain_huggingface